@import "../common/root";
@import "../common/common";

.orderBtn {
  background: $greyBg;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  // p {

    font-size: 30px;
    line-height: 30px;
    font-weight: 900;

  // }
}

.orderBtn:hover {
  cursor: pointer;
}