@import "../common/root";
@import "../common/common";

.products {
  display: flex;
  flex-direction: column;
  padding-top: 60px;

  &__links {
    margin-bottom: 75px;

    a {
      @include font(18px, 22px, $black, 400, "Questrial");

      span {
        @include font(18px, 22px, $blue, 400, "Questrial");
      }
    }
  }

  &__info {
    display: flex;
    gap: 100px;

    @include media(1400px) {
      gap: 70px;
    }

    @include media(992px) {
      flex-wrap: wrap;
    }

    &-img {
      // width: 80%;
      display: flex;
      gap: 70px;

      @include media(992px) {
        flex-wrap: wrap;
      }

      .img-gallery {
        @include media(992px) {
          width: 100%;
          display: flex;
        }
        @include media(768px){
          flex-wrap: wrap;
        }
      }

      .img-good {
        padding: 10px 20px;

        img {
          width: 90px;
          height: 90px;
        }
      }

      .img-good:hover {
        cursor: pointer;
      }

      .main-img {
        // width: 80%;
        max-width: 700px;
        max-height: 700px;
        object-fit: contain;

        @include media(1200px) {
          max-width: 440px;
          max-height: 440px;
        }
        @include media(480px){
          max-width: 300px;
        }
      }
    }

    &-description {
      width: 50%;
      @include media(992px){
        width: unset;
        display: flex;
        flex-wrap: wrap;
      }
      h3 {
        margin-bottom: 40px;
        @include font(25px, 38px, $black, 400, "Questrial");
        @include media(992px){
          margin-right: 30px;
          margin-bottom: unset;
        }
      }

      p {
        @include font(25px, 26px, $blue, 400, "Questrial");
        @include media(992px){
          display: flex;
          align-items: center;
        }
      }

      h4 {
        margin-top: 60px;
        @include font(25px, 26px, $blue, 400, "Questrial");

        @include media(992px) {
          margin-top: 30px !important;
          width: 100%;
        }
      }

      .description {
        margin-top: 30px;
        @include font(18px, 18px, $grey, 400, "Questrial");
      }

      .products-order {
        display: flex;
        align-items: center;
        margin-top: 70px;
        gap: 60px;

        @include media(1400px) {
          flex-wrap: wrap;
        }

        @include media(992px) {
          flex-wrap: unset;
          width: 100%;
        }

        @include media(480px){
          flex-wrap: wrap;
        }

        button {
          border: none;
          outline: none;
        }

        button:hover {
          cursor: pointer;
        }

        .order-btns {
          display: flex;

          @include media(1400px) {
            width: 100%
          }

          @include media(992px) {
            width: unset;
          }

          @include media(480px){
            width: 100%;
          }

          .ordered-quantity {
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include font(20px, 10px, $black, 400, "Questrial");
          }

          .order-btn {
            padding: 15px;
            background: $greyBg;
            font-size: 30px;
            font-weight: 900;
          }


        }

        .like:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__extra {
    margin-top: 200px;
    @include media(1400px){
      margin-top: 150px;
    }
    @include media(1200px){
      margin-top: 50px;
    }
    @include media(992px){
      margin-top: 100px;
    }
    h2 {
      text-align: center;
      margin-bottom: 70px;
      text-transform: uppercase;
      @include font(25px, 25px, $black, 400, "Questrial");
    }

    &-content {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      margin-bottom: 150px;
      @include media(992px){
        margin-bottom: 100px;
      }
      .extra__item {
        width: 22%;
       @include media(1200px){
        width: 31%;
       }
       @include media(992px){
        width: 47%;
       }
       @include media(576px){
        width: 100%;
       }
        &-img {
          width: 100%;
          height: 200px;
          position: relative;

          a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        &-description {
          h4 {
            margin-top: 60px;
            margin-bottom: 10px;
            @include font(24px, 36px, $black, 400, "Questrial");

          }

          p {
            // margin-bottom: 150px;
            @include font(20px, 30px, $blue, 400, "Kanit");
          }
        }
      }
    }
  }
}